*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(aqua, blue);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    overflow: hidden;
}
.main{
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20vh;
    width: 350px;
    background-color: whitesmoke;
    height:450px;
    padding:50px 0px;
    border-radius: 5px;
}
.tarefa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2rem;
}
#tarefa {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
}
button {
    padding: 7px;
    font-weight: bold;
    border: none;
    font-size: 15px;
    background-color: purple;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(81, 2, 81);
    cursor: pointer;
}
p {
    font-size: 1.5rem;
}
.lined{
    text-decoration: line-through;
}
input[type=checkbox]{
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
#deleteImg {
    width: 24px;
    height: 24px;
    padding: 12px;
    border: none;
    border-radius: 3px;
    background-image:url("imgs/trash-can.png");
    background-color: rgb(230, 216, 216);
    margin-top: 2px;
}
#deleteImg:hover{
    background-color: rgba(19, 19, 19, 0.521);
    cursor: pointer;
}
#editImg {
    width: 24px;
    height: 24px;
    padding: 12px;
    border: none;
    border-radius: 3px;
    background-image:url("imgs/botao-editar.png"); 
    background-color: rgb(230, 216, 216);
    margin-top: 2px;
}
#editImg:hover{
    background-color: rgba(19, 19, 19, 0.521);
    cursor: pointer;
}
.tarefa {
    background-color: lightgray;
    width:300px;
    margin:10px auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
span {
    justify-content: flex-end;
}